/* Podstawowy styl */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #e3f2fd, #bbdefb);
    color: #0d47a1;
    margin: 0;
    padding: 0;
}

/* Nagłówek */
header {
    text-align: center;
    padding: 20px;
    background-color: #0288d1;
    color: white;
}

header .info a {
    color: #ffcc80;
    text-decoration: none;
    font-weight: bold;
}

header .info a:hover {
    text-decoration: underline;
}

/* Sekcja Quiz */
#quiz {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 15px;
}

button {
    background-color: #01579b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0288d1;
}

/* Pasek postępu */
.progress-container {
    background: #e3f2fd;
    border-radius: 5px;
    margin: 20px 0;
    height: 20px;
}

.progress-bar {
    background: #0288d1;
    height: 100%;
    width: 0%;
    border-radius: 5px;
}

/* Porady */
#advice {
    margin: 20px;
    padding: 20px;
    background: #e1f5fe;
    border-left: 5px solid #0288d1;
    border-radius: 5px;
    font-size: 1.1em;
}
